<mat-toolbar color="primary">
    <!--<span class="tab-text">EMS - Employee Management System</span>-->
    <button class="tab-button" mat-button routerLink="/home" routerLinkActive="active">Home</button>
    <button class="tab-button" mat-button routerLink="/profile" routerLinkActive="active">Profile</button>
    <button class="tab-button" mat-button routerLink="/addEmployee" routerLinkActive="active">Add</button>
    <span class="spacer"></span>
    <mat-menu #accountMenu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item (click)="showLogoutDialog = true">Logout</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu">
        <mat-icon class="large-icon">account_circle</mat-icon>
    </button>
</mat-toolbar>

<div class="overlay" *ngIf="showLogoutDialog">
    <div class="modal">
        <h2>Logout</h2>
        <p>Are you sure you want to log out?</p>
        <button mat-raised-button color="warn" class="cancel-button" (click)="logout()">Logout</button>
        <button mat-raised-button color="primary" class="submit-button" (click)="cancelLogout()">Cancel</button>
    </div>
</div>