<mat-card>
    <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Filter</mat-label>
        <div class="filter-container">
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" class="search-input">
            <mat-select [(ngModel)]="selectedFilterField" (selectionChange)="updateFilterField($event)"
                class="filter-type">
                <mat-option *ngFor="let column of getFilteredColumns()" [value]="column">
                    {{ filterTypeOptions[column] || column }}
                </mat-option>
            </mat-select>
        </div>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.lastName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.firstName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="street">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Street </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.street}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="postcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Postcode </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.postcode}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.city}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.phone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="skillSet">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Skill Set </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.skillSet}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <button class="edit-button" mat-icon-button color="primary" (click)="onEdit(employee.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="delete-button" mat-icon-button color="warn" (click)="onDelete(employee.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let employee; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="pagination-controls">
        <button class="pagination-button" mat-button (click)="onPreviousPage()">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="pagination-button" mat-button (click)="onNextPage()">Next</button>
    </div>
</mat-card>