<mat-card>
    <mat-card-title>Employee List</mat-card-title>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.lastName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.firstName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="street">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Street </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.street}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="postcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Postcode </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.postcode}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.city}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.phone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="skillSet">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Skill Set </mat-header-cell>
            <mat-cell *matCellDef="let employee"> {{employee.skillSet}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <button class="table-button" mat-icon-button color="primary" (click)="onEdit(employee)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(employee)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let employee; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>