.button-base {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 18px;
    transition-duration: 0.4s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.edit-button {
    background-color: #3f51b5;
}

.edit-button:hover {
    background-color: #2d3c8f;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #941824;
}

.container {
    margin: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.filter-field {
    width: 30%;
    box-sizing: border-box;
}

.items-per-page-field {
    width: 12%;
    box-sizing: border-box;
}

.filter-container {
    display: flex;
    align-items: center;
}

.search-input,
.filter-type {
    font-size: 14px;
    padding: 8px;
}

.filter-type {
    flex: 1;
    margin-right: 10px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.pagination-button {
    background-color: #3f51b5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100px;
}

.pagination-button:hover {
    background-color: #2d3c8f;
}