<div class="update-employee-container">
    <h2>Update Employee</h2>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput name="firstName" [(ngModel)]="employee.firstName" required placeholder="Enter First Name">
            <mat-error>
                First Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput name="lastName" [(ngModel)]="employee.lastName" required placeholder="Enter Last Name">
            <mat-error>
                Last Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Street</mat-label>
            <input matInput name="street" [(ngModel)]="employee.street" required placeholder="Enter Street">
            <mat-error>
                Street is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Postcode</mat-label>
            <input matInput name="postcode" [(ngModel)]="employee.postcode" required placeholder="Enter Postcode">
            <mat-error>
                Postcode is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>City</mat-label>
            <input matInput name="city" [(ngModel)]="employee.city" required placeholder="Enter City">
            <mat-error>
                City is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Phone</mat-label>
            <input matInput name="phone" [(ngModel)]="employee.phone" required placeholder="Enter Phone">
            <mat-error>
                Phone is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Skill Set</mat-label>
            <mat-select name="skillSet" [(ngModel)]="employee.skillSet" multiple required>
                <mat-option *ngFor="let item of skillSetItems" [value]="item.id">
                  {{ item.skill }}
                </mat-option>
              </mat-select>
            <mat-error>
                Skill Set is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="buttons-container">
            <button mat-raised-button color="primary" class="submit-button" type="submit">Submit</button>
            <button mat-raised-button color="warn" class="cancel-button" type="button"
                (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>