.delete-button {
    background-color: #dc3545;
    color: #ffffff;
    margin-right: 16px;
    border-radius: 25px;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.delete-button:hover {
    background-color: #941824;
}

.cancel-delete-button {
    background-color: #3f51b5;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cancel-delete-button:hover {
    background-color: #2d3c8f;
}